.note {
    position: absolute;
    width: 150px;
    height: 150px;
    user-select: none;
    touch-action: none;
    background: #f08080;
    padding: 5px;
    border-radius: 0% 15% 15% 15%; 
    border: outset 0.375em red;
    resize: none;
    transition: transform 0.1s;
    animation-name: bounce-in;
    animation-duration: 1s;
    box-shadow: 5px 5px 5px 1px #000000a0;
}

.note:hover {
    transform: scale(1.1);
}

@keyframes bounce-in {
    from {transform:scale(0)}
    40% {transform:scale(1.2)}
    to {transform:scale(1)}
}