.note {
    position: absolute;
    width: 150px;
    height: 150px;
    user-select: none;
    touch-action: none;
    background: #f08080;
    padding: 5px;
    border-radius: 0% 15% 15% 15%; 
    border: outset 0.375em red;
    resize: none;
    transition: transform 0.2s;
    animation-name: bounce-in;
    animation-duration: 1s;
    box-shadow: 7px 7px 7px 2px #000000a0;
}

.button {
    position: fixed;
    bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    border-radius: 18px;
    background: rgba(255,255,255);
    transition: transform 0.2s;
    z-index: 99;
}

.button:hover {
    transform: scale(1.1);
}

.button:active {
    transform: scale(0.6);
}

.note:hover {
    transform: scale(1.1);
}

@keyframes bounce-in {
    from {transform:scale(0)}
    40% {transform:scale(1.2)}
    to {transform:scale(1)}
}

@keyframes bounce-out {
    from {transform:scale(1)}
    60% {transform:scale(1.2)}
    to {transform:scale(0)}
}